appdirs==1.4.4
beautifulsoup4==4.9.1
bs4==0.0.1
certifi==2019.3.9
chardet==3.0.4
click==7.1.2
cprint==1.1
cssselect==1.1.0
fake-useragent==0.1.11
gevent==1.4.0
greenlet==0.4.15
humanfriendly==8.1
idna==2.8
lxml==4.6.3
parse==1.15.0
pyaes==1.6.1
pyasn1==0.4.5
pyee==7.0.2
PyMySQL==0.9.3
pyppeteer==0.0.25
pyquery==1.4.1
requests==2.22.0
requests-html==0.10.0
rsa==4.0
six==1.15.0
soupsieve==2.0.1
Telethon==1.8.0
termcolor==1.1.0
tqdm==4.46.0
typing==3.7.4.1
urllib3==1.25.3
urlparser==0.1.2
w3lib==1.22.0
websockets==8.0.2
